html {
    font-size: 62.5%;
}
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 1rem;
}
section {
    background-color: #BBDDEE;
    margin-block-end: 1rem;
    padding: 1rem;
}
.iso {    
    float: left;
    font-size: 500%;
    width: 5rem;
    text-align: center;
    padding: 0.2rem;
    background-color: #568;
    color: white;
    border: solid white 1px;
    border-width: 0 1rem 1rem 0;   
    margin: -1rem 2rem 2rem -1rem;
}
.reunaviiva {
    border: black solid 1px;
}
.banner {
    background-color: white;
    float: left;
    border: black 1px solid;
    margin: -1rem 2rem 2rem -1rem;
    padding: 0.5rem;
    text-align: left;
    width: 40%;
}
.banner-right{
    background-color: white;
    float: right;
    border: black 1px solid;
    margin: 0 -1.1rem 0 0;
    border-right: white 1.5rem;
    padding: 1rem;
    text-align: left;
    width: 30%;
    font-weight: bold;
    font-style: italic;
}
h1, h2, pre, p, ul {
    margin-block-end: 1rem;
}
h2 {
    font-size: 2rem;
    background-color: #88AABB;
    border-bottom: #7B9DBB 2px solid;
    text-align: right;
    font-weight: bold;
    margin: -1rem -1rem 2rem -1rem;
    padding: 0.5rem;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
h3{
    font-weight: bold;
    font-size: 2rem;
    margin-bottom: 2rem;
}
pre {
    font-size: 1.6rem;
    font-family: 'Courier New', Courier, monospace;
}
p {
    font-size: 1.6rem;
}
ul {
    font-size: 1.6rem;
    list-style-type: disc;
    list-style-position: inside;
}

.magnifier img{
    float: left;
    width: 5rem;
    height: 5rem;
    border: solid black 1px;
    margin: -1rem 2rem 2rem -1rem;
}
.no-padding {
    margin-left: -1rem;
    margin-right: -1rem;
}

a {
    color: blue;
    text-decoration: underline;
}